<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="QuanLyHocSinhWCF.QuanLyService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8081/QuanLyService" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="QuanLyHocSinhWCF.IQuanLyService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
