<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
    connectionString="Server=(localdb)\MSSQLLocalDB;Database=QuanLyHocSinh;Trusted_Connection=True;"
    providerName="System.Data.SqlClient" />
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IQuanLyService" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8000/QuanLyService" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IQuanLyService" contract="WCFProxy1.IQuanLyService"
    name="BasicHttpBinding_IQuanLyService" />
  </client>
 </system.serviceModel>
</configuration>
